<br>
<br>
<h1>It's Nice To Meet You!</h1>
<div class="container-fluid">
    <div class="row">
        <h2 class="col-sm-12 animated fadeInLeft">Our mission</h2>
        <p class="col-sm-6 animated fadeInLeft">The Sleepy Dog is to simplify and improve the way customers consume top tier whole foods.<br> We are the only company that uses advanced insights to create previously unavailable feeding options and the most straightforward, honest customer experience for small businesses. <br>Because of us, our customers have more control over their finances and pets, and are better able to succeed and grow.<br> We’re looking for top-tier talents to join our exceptional team, help us continue our own rapid growth, and create a better way forward for our customers.</p>
        <div class="col-sm-6"><img class="animated fadeInRight img-fluid" src="https://images.unsplash.com/photo-1506534067239-9e2fabb3a863?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt=""></div>
    </div>
</div>